body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: large;
    text-align: justify;
    margin: 0;
    padding: 0;
    color: #333;
}

/* The side navigation menu */
.sidebar {
    width: 17%;
    float: left; 
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }  
  
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #41BBEC;
    color: #fff
  }

.sidebar a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
.sidebar a:hover, .dropdown-btn:hover {
    background-color: #41BBEC;
    color: #fff
  }

  /* Add an active class to the active dropdown button */
.active {
    background-color: #f1f1f1;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
  }

.protocol {
  color: rgb(58, 115, 135);
}
.domain {
  color: rgb(72, 65, 65);
}
.path {
  color: rgb(155, 67, 34);
}
.filename {
  color: rgb(61, 96, 9);
}

.dot.protocol {
  background-color: rgb(58, 115, 135);
}

.dot.domain {
  background-color: rgb(72, 65, 65);
}

.dot.path {
  background-color: rgb(155, 67, 34);
}
.dot.filename {
  background-color: rgb(61, 96, 9);
}

.disclaimer {
  font-size: 14px;
  display: flex;
  flex-direction: row;
}
.disclaimer-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 10px;
}
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: 20px;
}

.page_description{
    padding-bottom: 20px;
    text-align: center;
}

.protocol-name {
  font-weight: bold;
}

main {
    margin-left: 200px;
    margin-right: 50px;
    padding: 1px 16px;
    height: 1000px;
    margin-bottom: 50px;
}

#medium-text{
  font-size: 16px;
}

h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

h3 {
    padding-top: 10px;
}

h4{
  color: #41BBEC; /*TFL Blue*/
  font-size: 24px;
  text-align: left;
}

h5{
  color: #2A7999;
  font-size: 20px;
  text-align: left;
}

.container,
.home_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  padding: 0rem 1rem 1rem;
  box-sizing: border-box;
}

.home_container{
  height: 60vh;
}

.image-container,
.text-container {
  flex: 1 1 150px;
  max-width: 50%;
  padding: 1rem;
}

.image-container{
  text-align: center;
}

.large-header{
  color: #FF0000;
  font-size: 2.3vw;
  line-height: 1.5;
}

.medium-header{
  font-size: 1.8vw;
  line-height: 1.5;
}

.text-container p {
  font-family: Arial, sans-serif;
  font-size: 1.5vw;
  line-height: 1.5;
}

#medium-scale {
  font-size: 1.5vw;
  line-height: 1.5;
}

img {
  width: 80%;
  height: 80%;
  max-width: 350px;
  max-height: 350px;
  object-fit: contain;
  margin-bottom: 10px;
}

ol li b{
  color: rgb(53, 70, 121);
}

pre {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
}

code {
    font-family: monospace;
}

.pretty_link {
  transition: color 0.3s ease;
  color: rgb(86, 15, 15);
  text-decoration: none;
  text-shadow: .5px black;
  
}
.pretty_link:hover {
  color: gray;
  text-shadow: 1px 1px 1px black;
}

.vocab-term {
  position: relative;
  cursor: pointer;
  color: #00BFFF; /* Deep Sky Blue */
 
  border-radius: 4px; /* Optional: Softens the corners for a more subtle effect */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.vocab-term:hover .tooltip {
  visibility: visible;
  opacity: 1;
  color: #008080; /* Teal Green */
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  font-size: 12px;
  width: 200px; /* Adjust based on content */
  height: 100px;
  background-color: #f9f9f9;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  /* Transition for a smooth effect */
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}