body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}



/* The side navigation menu */
.sidebar {
    width: 17%;
    float: left; 
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  


/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
  }

.sidebar a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
.sidebar a:hover, .dropdown-btn:hover {
    background-color: #555;
  }

  /* Add an active class to the active dropdown button */
.active {
    background-color: #f1f1f1;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
  }

.protocol {
  color: rgb(58, 115, 135);
}
.domain {
  color: rgb(72, 65, 65);
}
.path {
  color: rgb(155, 67, 34);
}
.filename {
  color: rgb(61, 96, 9);
}

.dot.protocol {
  background-color: rgb(58, 115, 135);
}

.dot.domain {
  background-color: rgb(72, 65, 65);
}

.dot.path {
  background-color: rgb(155, 67, 34);
}
.dot.filename {
  background-color: rgb(61, 96, 9);
}

.disclaimer {
  font-size: 14px;
  display: flex;
  flex-direction: row;
}
.disclaimer-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 10px;
}
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: 20px;
}

.page_description{
    padding-bottom: 20px;
    text-align: center;
}

.protocol-name {
  font-weight: bold;
}

main {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    margin-bottom: 50px;
}


h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

h3 {
    padding-top: 10px;
}

h4{
  color: rgb(46, 135, 135);
  font-size: 25px;
}

ol li b{
  color: rgb(53, 70, 121);
}


pre {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
}

code {
    font-family: monospace;
}

.pretty_link {
  transition: color 0.3s ease;
  color: rgb(86, 15, 15);
  text-decoration: none;
  text-shadow: .5px black;
  
}
.pretty_link:hover {
  color: gray;
  text-shadow: 1px 1px 1px black;
}

.vocab-term {
  position: relative;
  cursor: pointer;
  color: #00BFFF; /* Deep Sky Blue */
 
  border-radius: 4px; /* Optional: Softens the corners for a more subtle effect */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.vocab-term:hover .tooltip {
  visibility: visible;
  opacity: 1;
  color: #008080; /* Teal Green */
}


.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  width: 200px; /* Adjust based on content */
  height: 100px;
  background-color: #f9f9f9;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  /* Transition for a smooth effect */
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
